# MongoDB# Server Configuration
PORT=3000
NODE_ENV=development

# Database
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/spotify-party

# Spotify API Credentials
SPOTIFY_CLIENT_ID=your_client_id_here
SPOTIFY_CLIENT_SECRET=your_client_secret_here
SPOTIFY_REDIRECT_URI=http://localhost:3000/api/auth/callback

# Security
JWT_SECRET=your_strong_jwt_secret_random_string_here
JWT_EXPIRES_IN=30d

# Networking & Tunnels
FRONTEND_MOBILE_URL=exp://127.0.0.1:8081/--/callback
FRONTEND_WEB_URL=http://localhost:5173
BACKEND_URL=your-ngrok-subdomain.ngrok-free.dev

# CORS
ALLOWED_ORIGINS=http://localhost:8081,http://localhost:5173
